Repository amano-takahisa/nixos-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, trailing-whitespace, end-of-file-fixer

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: sed
  args:
  - -i
  - s/[[:space:]]*$//
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: bash
  args:
  - -c
  - if [[ ! -s "$1" || $(tail -c1 "$1" | wc -l) -eq 0 ]]; then echo >> "$1"; fi
  - --
  language: system

add claude code skills
  modules/home-manager/misc/claude-code/skills/adr/SKILL.md
  modules/home-manager/misc/claude-code/skills/grill-me/SKILL.md
Due: trailing-whitespace, end-of-file-fixer

fix warnings
  flake.lock
  flake.nix
Due: nixpkgs-fmt, trailing-whitespace, end-of-file-fixer

upgrade
  flake.lock
Due: none

use ghostty to use kitty image protocol to show image in nvim
  modules/home-manager/editor/nixvim/plugins/snacks.nix
  modules/home-manager/terminal/ghostty/default.nix
  modules/home-manager/terminal/kitty/default.nix
Due: nixpkgs-fmt, trailing-whitespace, end-of-file-fixer

use image-vim to show image instead of snacks.image
  modules/home-manager/editor/nixvim/plugins/image.nix
  modules/home-manager/editor/nixvim/plugins/neo-tree.nix
  modules/home-manager/editor/nixvim/plugins/snacks.nix
  modules/home-manager/terminal/tmux/default.nix
Due: nixpkgs-fmt, trailing-whitespace, end-of-file-fixer

move media to browser
  modules/home-manager/browser/default.nix
  modules/home-manager/browser/firefox/default.nix
  modules/home-manager/browser/slack/default.nix
  modules/home-manager/browser/vlc/default.nix
  modules/home-manager/media/google-chrome/default.nix
Due: nixpkgs-fmt, trailing-whitespace, end-of-file-fixer

add openshot
  modules/home-manager/graphics/openshot/default.nix
Due: nixpkgs-fmt, trailing-whitespace, end-of-file-fixer

set openshot_qt's profiles
  flake.nix
  modules/home-manager/graphics/openshot/default.nix
  modules/home-manager/graphics/openshot/profiles/01280x0090p0030_128-09
  modules/home-manager/graphics/openshot/profiles/01280x0180p0030_64-09
Due: nixpkgs-fmt, trailing-whitespace, end-of-file-fixer

add ollama to msi
  flake.nix
  modules/home-manager/llm/default.nix
  modules/home-manager/llm/ollama/default.nix
Due: nixpkgs-fmt, trailing-whitespace, end-of-file-fixer

update ghostty config
  modules/home-manager/terminal/ghostty/default.nix
Due: nixpkgs-fmt, trailing-whitespace, end-of-file-fixer

upgrade
  flake.lock
  flake.nix
Due: nixpkgs-fmt, trailing-whitespace, end-of-file-fixer

Add weekly user-level Nix GC timer
  modules/home-manager/common/default.nix
  modules/home-manager/common/nix-gc-user.nix
Due: nixpkgs-fmt, trailing-whitespace, end-of-file-fixer

add openshot profiles
  modules/home-manager/graphics/openshot/profiles/01280x0270p0030_128-27
  modules/home-manager/graphics/openshot/profiles/01280x0360p0030_32-09
Due: none

add ds
  modules/home-manager/cli-tools/sd/default.nix
Due: nixpkgs-fmt, trailing-whitespace, end-of-file-fixer

disable ligature
  modules/home-manager/terminal/ghostty/default.nix
Due: nixpkgs-fmt, trailing-whitespace, end-of-file-fixer

update README
  README.md
Due: trailing-whitespace, end-of-file-fixer

update gwq, fonts
  README.md
  flake.lock
  modules/home-manager/vcs/gwq/default.nix
  modules/system/ui/fonts.nix
Due: nixpkgs-fmt, trailing-whitespace, end-of-file-fixer

update claue code skills
  modules/home-manager/misc/claude-code/skills/adr/SKILL.md
  modules/home-manager/misc/claude-code/skills/grill-me/SKILL.md
  modules/home-manager/misc/claude-code/skills/next/SKILL.md
  modules/home-manager/misc/claude-code/skills/plan/SKILL.md
Due: trailing-whitespace, end-of-file-fixer

add commit skill of claude code
  modules/home-manager/misc/claude-code/skills/commit/SKILL.md
  modules/home-manager/misc/claude-code/skills/next/SKILL.md
Due: trailing-whitespace, end-of-file-fixer

ask claude to use flake.nix
  modules/home-manager/misc/claude-code/CLAUDE.md
  modules/home-manager/misc/claude-code/default.nix
  modules/home-manager/misc/claude-code/hooks/guard-flake-nix.sh
  modules/home-manager/misc/claude-code/hooks/remind-dev-env.sh
Due: nixpkgs-fmt, trailing-whitespace, end-of-file-fixer

add ADR for llm fanout pipeline design
  docs/adr/0004-llm-fanout-pipeline.md
  docs/adr/0005-fanout-auto-merge-without-human-approval.md
Due: trailing-whitespace, end-of-file-fixer

add plan for llm fanout pipeline
  docs/plans/0001-llm-fanout-pipeline.md
Due: trailing-whitespace, end-of-file-fixer

add file ownership and dependency fields to plan template
  modules/home-manager/misc/claude-code/skills/plan/SKILL.md
Due: trailing-whitespace, end-of-file-fixer

add nix declarative management for claude-code agents
  docs/plans/0001-llm-fanout-pipeline.md
  modules/home-manager/misc/claude-code/default.nix
Due: nixpkgs-fmt, trailing-whitespace, end-of-file-fixer

add implementer agent definition
  modules/home-manager/misc/claude-code/agents/implementer.md
Due: trailing-whitespace, end-of-file-fixer

add reviewer agent definition
  modules/home-manager/misc/claude-code/agents/reviewer.md
Due: trailing-whitespace, end-of-file-fixer

record 2-1/2-2 completion notes in plan
  docs/plans/0001-llm-fanout-pipeline.md
Due: trailing-whitespace, end-of-file-fixer

amend ADR-0004: embed task spec in prompt due to worktree branch-point finding
  docs/adr/0004-llm-fanout-pipeline.md
Due: trailing-whitespace, end-of-file-fixer

add fanout skill for parallel task execution
  docs/plans/0001-llm-fanout-pipeline.md
  modules/home-manager/misc/claude-code/skills/fanout/SKILL.md
Due: trailing-whitespace, end-of-file-fixer

add plan for fanout dry-run verification
  docs/plans/0002-fanout-dry-run.md
Due: trailing-whitespace, end-of-file-fixer

add fanout task spec files for PLAN-0002
  docs/plans/0002-tasks/1-1.md
  docs/plans/0002-tasks/1-2.md
Due: trailing-whitespace, end-of-file-fixer

add docs/plans README
  docs/plans/README.md
Due: trailing-whitespace, end-of-file-fixer

add docs/adr README
  docs/adr/README.md
Due: trailing-whitespace, end-of-file-fixer

complete PLAN-0001 and PLAN-0002, record worktree isolation safety finding
  docs/plans/0001-llm-fanout-pipeline.md
  docs/plans/0002-fanout-dry-run.md
Due: trailing-whitespace, end-of-file-fixer

add worktree-isolation safety rule to implementer/reviewer/fanout
  docs/adr/0004-llm-fanout-pipeline.md
  modules/home-manager/misc/claude-code/agents/implementer.md
  modules/home-manager/misc/claude-code/agents/reviewer.md
  modules/home-manager/misc/claude-code/skills/fanout/SKILL.md
Due: trailing-whitespace, end-of-file-fixer

approve ADR-0004 and ADR-0005
  docs/adr/0004-llm-fanout-pipeline.md
  docs/adr/0005-fanout-auto-merge-without-human-approval.md
Due: trailing-whitespace, end-of-file-fixer

add syncthings
  modules/home-manager/misc/syncthing/default.nix
Due: nixpkgs-fmt, trailing-whitespace, end-of-file-fixer

add ADR-0006 unified check command and reflect in plan/fanout skills
  docs/adr/0006-unified-check-command.md
  modules/home-manager/misc/claude-code/skills/fanout/SKILL.md
  modules/home-manager/misc/claude-code/skills/plan/SKILL.md
Due: trailing-whitespace, end-of-file-fixer

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  trailing-whitespace: any of: \.(nix|yaml|yml|md)$
  end-of-file-fixer: any of: \.(nix|yaml|yml|md)$
